In [1]:
from pyspark.sql import SparkSession
from pyspark.sql import Row
from delta import *

In [2]:
warehouse_location = 'hdfs://hdfs-nn:9000/TrabalhoPratico'

builder = SparkSession \
    .builder \
    .appName("Python Spark SQL Hive integration example") \
    .config("spark.sql.TrabalhoPratico.dir", warehouse_location) \
    .config("hive.metastore.uris", "thrift://hive-metastore:9083") \
    .config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension") \
    .config("spark.sql.catalog.spark_catalog", "org.apache.spark.sql.delta.catalog.DeltaCatalog") \
    .config("spark.jars.packages", "io.delta:delta-core_2.12:2.4.0") \
    .enableHiveSupport() \

spark = spark = configure_spark_with_delta_pip(builder).getOrCreate()

In [ ]:
spark.sql(
    """
    CREATE DATABASE silver LOCATION 'hdfs://hdfs-nn:9000/TrabalhoPratico/silver/'
    """
)

In [ ]:
spark.sql(
    """
    DROP DATABASE silver 
    """
)

In [ ]:
spark.sql(
    """
    SHOW DATABASES
    """
).show()

In [ ]:
spark.sql(
    """
    SHOW TABLES FROM silver
    """
).show()

In [ ]:
spark.sql(
    """
    DROP TABLE IF EXISTS silver.genderStatsCountry_DeltaTable
    """
)

In [ ]:
spark.sql(
    """
    CREATE EXTERNAL TABLE  silver.genderStatsCountry_DeltaTable (
        CountryCode VARCHAR(500),
        ShortName VARCHAR(500),
        TableName VARCHAR(500),
        LongName VARCHAR(500),
        2AplhaCode VARCHAR(500),
        CurrencyUnit VARCHAR(500),
        SpecialNotes VARCHAR(500),
        Region VARCHAR(500),
        IncomeGroup VARCHAR(500),
        WB2Code VARCHAR(500),
        NationalAccountsBaseYear VARCHAR(500),
        NationalAccountsReferenceYear VARCHAR(500),
        SNAPriceValuation VARCHAR(500),
        LendingCategory VARCHAR(500),
        OtherGroups VARCHAR(500),
        SystemOfNationalAccounts VARCHAR(500),
        AlternativeConversionFactor VARCHAR(500),
        PPPSurveyYear VARCHAR(500),
        BalanceOfPaymentsManualInUse VARCHAR(500),
        ExternalDebtReportingStatus VARCHAR(500),
        SystemOfTrade VARCHAR(500),
        GovernmentAccountingConcenpt VARCHAR(500),
        IMFDataDisseminationStandard VARCHAR(500),
        LatestPopulationCensus VARCHAR(500),
        LatestHouseholdSurvey VARCHAR(500),
        SourceOfMostIncome VARCHAR(500),
        VitalResgistrationComplete VARCHAR(500),
        LatestAgriculturalCensus VARCHAR(500),
        LatestIndustrialData VARCHAR(500),
        LatestTradeData VARCHAR(500)
    )
    USING DELTA
    LOCATION 'hdfs://hdfs-nn:9000/TrabalhoPratico/silver/genderStatsCountry_DeltaTable/'
    """
)

In [44]:
spark.sql(
    """
    SHOW TABLES FROM silver
    """
).show()

+---------+--------------------+-----------+
|namespace|           tableName|isTemporary|
+---------+--------------------+-----------+
|   silver|genderstatscountr...|      false|
+---------+--------------------+-----------+

In [45]:
spark.sql(
    """
    SELECT *
    FROM silver.genderStatsCountry_DeltaTable
    """
).show()

+-----------+---------+---------+--------+----------+------------+------------+------+-----------+-------+------------------------+-----------------------------+-----------------+---------------+-----------+------------------------+---------------------------+-------------+----------------------------+---------------------------+-------------+----------------------------+----------------------------+----------------------+---------------------+------------------+--------------------------+------------------------+--------------------+---------------+
|CountryCode|ShortName|TableName|LongName|2AplhaCode|CurrencyUnit|SpecialNotes|Region|IncomeGroup|WB2Code|NationalAccountsBaseYear|NationalAccountsReferenceYear|SNAPriceValuation|LendingCategory|OtherGroups|SystemOfNationalAccounts|AlternativeConversionFactor|PPPSurveyYear|BalanceOfPaymentsManualInUse|ExternalDebtReportingStatus|SystemOfTrade|GovernmentAccountingConcenpt|IMFDataDisseminationStandard|LatestPopulationCensus|LatestHouseholdSurvey|SourceOfMostIncome|VitalResgistrationComplete|LatestAgriculturalCensus|LatestIndustrialData|LatestTradeData|
+-----------+---------+---------+--------+----------+------------+------------+------+-----------+-------+------------------------+-----------------------------+-----------------+---------------+-----------+------------------------+---------------------------+-------------+----------------------------+---------------------------+-------------+----------------------------+----------------------------+----------------------+---------------------+------------------+--------------------------+------------------------+--------------------+---------------+
+-----------+---------+---------+--------+----------+------------+------------+------+-----------+-------+------------------------+-----------------------------+-----------------+---------------+-----------+------------------------+---------------------------+-------------+----------------------------+---------------------------+-------------+----------------------------+----------------------------+----------------------+---------------------+------------------+--------------------------+------------------------+--------------------+---------------+

In [46]:
spark.sql(
    """
    DESCRIBE FORMATTED silver.genderStatsCountry_DeltaTable
    """
).toPandas()

,col_name,data_type,comment
0,CountryCode,string,None
1,ShortName,string,None
2,TableName,string,None
3,LongName,string,None
4,2AplhaCode,string,None
5,CurrencyUnit,string,None
6,SpecialNotes,string,None
7,Region,string,None
8,IncomeGroup,string,None
9,WB2Code,string,None
10,NationalAccountsBaseYear,string,None
11,NationalAccountsReferenceYear,string,None
12,SNAPriceValuation,string,None
13,LendingCategory,string,None
14,OtherGroups,string,None
15,SystemOfNationalAccounts,string,None
16,AlternativeConversionFactor,string,None
17,PPPSurveyYear,string,None
18,BalanceOfPaymentsManualInUse,string,None
19,ExternalDebtReportingStatus,string,None
20,SystemOfTrade,string,None
21,GovernmentAccountingConcenpt,string,None
22,IMFDataDisseminationStandard,string,None
23,LatestPopulationCensus,string,None
24,LatestHouseholdSurvey,string,None
25,SourceOfMostIncome,string,None
26,VitalResgistrationComplete,string,None
27,LatestAgriculturalCensus,string,None
28,LatestIndustrialData,string,None
29,LatestTradeData,string,None
30,,,
31,# Detailed Table Information,,
32,Name,spark_catalog.silver.genderstatscountry_deltat...,
33,Type,EXTERNAL,
34,Location,hdfs://hdfs-nn:9000/TrabalhoPratico/silver/gen...,
35,Provider,delta,
36,Owner,jovyan,
37,Table Properties,"[delta.minReaderVersion=1,delta.minWriterVersi...",

In [47]:
spark.stop()