In [25]:
from pyspark.sql import SparkSession
from pyspark.sql import Row
from delta import *

# warehouse_location points to the default location for managed databases and tables
warehouse_location = 'hdfs://hdfs-nn:9000/TrabalhoPratico'

builder = SparkSession \
    .builder \
    .appName("Python Spark SQL Hive integration example") \
    .config("spark.sql.TrabalhoPratico.dir", warehouse_location) \
    .config("hive.metastore.uris", "thrift://hive-metastore:9083") \
    .config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension") \
    .config("spark.sql.catalog.spark_catalog", "org.apache.spark.sql.delta.catalog.DeltaCatalog") \
    .config("spark.jars.packages", "io.delta:delta-core_2.12:2.4.0") \
    .enableHiveSupport() \

spark = spark = configure_spark_with_delta_pip(builder).getOrCreate()

In [14]:
spark.sql(
    """
    DROP DATABASE silver
    """
)

DataFrame[]

In [15]:
spark.sql(
    """
    CREATE DATABASE silver LOCATION 'hdfs://hdfs-nn:9000/TrabalhoPratico/silver/'
    """
)

DataFrame[]

In [26]:
spark.sql(
    """
    SHOW DATABASES
    """
).show()

+---------+
|namespace|
+---------+
|  default|
|     demo|
|   silver|
+---------+

In [27]:
spark.sql(
    """
    SHOW TABLES FROM silver
    """
).show()

+---------+--------------------+-----------+
|namespace|           tableName|isTemporary|
+---------+--------------------+-----------+
|   silver|genderstatsdata_d...|      false|
+---------+--------------------+-----------+

In [18]:
spark.sql(
    """
    DROP TABLE IF EXISTS silver.genderStatsData_DeltaTable
    """
)

DataFrame[]

In [19]:
spark.sql(
    """
    CREATE EXTERNAL TABLE  silver.genderStatsData_DeltaTable (
        countryName VARCHAR(50),
        countryCode CHAR(3),
        indicatorName VARCHAR(200),
        indicatorCode VARCHAR(50),
        y1960 VARCHAR(50),
        y1961 VARCHAR(50),
        y1962 VARCHAR(50),
        y1963 VARCHAR(50),
        y1964 VARCHAR(50),
        y1965 VARCHAR(50),
        y1966 VARCHAR(50),
        y1967 VARCHAR(50),
        y1968 VARCHAR(50),
        y1969 VARCHAR(50),
        y1970 VARCHAR(50),
        y1971 VARCHAR(50),
        y1972 VARCHAR(50),
        y1973 VARCHAR(50),
        y1974 VARCHAR(50),
        y1975 VARCHAR(50),
        y1976 VARCHAR(50),
        y1977 VARCHAR(50),
        y1978 VARCHAR(50),
        y1979 VARCHAR(50),
        y1980 VARCHAR(50),
        y1981 VARCHAR(50),
        y1982 VARCHAR(50),
        y1983 VARCHAR(50),
        y1984 VARCHAR(50),
        y1985 VARCHAR(50),
        y1986 VARCHAR(50),
        y1987 VARCHAR(50),
        y1988 VARCHAR(50),
        y1989 VARCHAR(50),
        y1990 VARCHAR(50),
        y1991 VARCHAR(50),
        y1992 VARCHAR(50),
        y1993 VARCHAR(50),
        y1994 VARCHAR(50),
        y1995 VARCHAR(50),
        y1996 VARCHAR(50),
        y1997 VARCHAR(50),
        y1998 VARCHAR(50),
        y1999 VARCHAR(50),
        y2000 VARCHAR(50),
        y2001 VARCHAR(50),
        y2002 VARCHAR(50),
        y2003 VARCHAR(50),
        y2004 VARCHAR(50),
        y2005 VARCHAR(50),
        y2006 VARCHAR(50),
        y2007 VARCHAR(50),
        y2008 VARCHAR(50),
        y2009 VARCHAR(50),
        y2010 VARCHAR(50),
        y2011 VARCHAR(50),
        y2012 VARCHAR(50),
        y2013 VARCHAR(50),
        y2014 VARCHAR(50),
        y2015 VARCHAR(50),
        y2016 VARCHAR(50),
        y2017 VARCHAR(50),
        y2018 VARCHAR(50),
        y2019 VARCHAR(50),
        y2020 VARCHAR(50),
        y2021 VARCHAR(50),
        y2022 VARCHAR(50)        
    )
    USING DELTA
    LOCATION 'hdfs://hdfs-nn:9000/TrabalhoPratico/silver/genderStatsData_DeltaTable/'
    """
)

DataFrame[]

In [20]:
spark.sql(
    """
    SHOW TABLES FROM silver
    """
).show()

+---------+--------------------+-----------+
|namespace|           tableName|isTemporary|
+---------+--------------------+-----------+
|   silver|genderstatsdata_d...|      false|
+---------+--------------------+-----------+

In [28]:
spark.sql(
    """
    SELECT *
    FROM silver.genderStatsData_DeltaTable
    """
).show()

+--------------------+-----------+--------------------+-----------------+-----+------------------+-----------------+-----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+---------------+----------------+----------------+----------------+----------------+--------------+----------------+----------------+-----+
|         countryName|countryCode|       indicatorName|    indicatorCode|y2000|             y2001|            y2002|            y2003|           y2004|           y2005|           y2006|           y2007|           y2008|           y2009|           y2010|           y2011|           y2012|           y2013|          y2014|           y2015|           y2016|           y2017|           y2018|         y2019|           y2020|           y2021|y2022|
+--------------------+-----------+--------------------+-----------------+-----+------------------+-----------------+-----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+---------------+----------------+----------------+----------------+----------------+--------------+----------------+----------------+-----+
|Africa Eastern an...|        AFE|A woman can apply...|   SG.APL.PSPT.EQ| null|              null|             null|             null|            null|            null|            null|            null|            null|            null|            null|            null|            null|            null|           null|            null|            null|            null|            null|          null|            null|            null| null|
|Africa Eastern an...|        AFE|A woman can be he...|   SG.HLD.HEAD.EQ| null|              null|             null|             null|            null|            null|            null|            null|            null|            null|            null|            null|            null|            null|           null|            null|            null|            null|            null|          null|            null|            null| null|
|Africa Eastern an...|        AFE|A woman can choos...|   SG.LOC.LIVE.EQ| null|              null|             null|             null|            null|            null|            null|            null|            null|            null|            null|            null|            null|            null|           null|            null|            null|            null|            null|          null|            null|            null| null|
|Africa Eastern an...|        AFE|A woman can get a...|   SG.GET.JOBS.EQ| null|              null|             null|             null|            null|            null|            null|            null|            null|            null|            null|            null|            null|            null|           null|            null|            null|            null|            null|          null|            null|            null| null|
|Africa Eastern an...|        AFE|A woman can obtai...|   SG.OBT.DVRC.EQ| null|              null|             null|             null|            null|            null|            null|            null|            null|            null|            null|            null|            null|            null|           null|            null|            null|            null|            null|          null|            null|            null| null|
|Africa Eastern an...|        AFE|A woman can open ...|   SG.OPN.BANK.EQ| null|              null|             null|             null|            null|            null|            null|            null|            null|            null|            null|            null|            null|            null|           null|            null|            null|            null|            null|          null|            null|            null| null|
|Africa Eastern an...|        AFE|A woman can regis...|   SG.BUS.REGT.EQ| null|              null|             null|             null|            null|            null|            null|            null|            null|            null|            null|            null|            null|            null|           null|            null|            null|            null|            null|          null|            null|            null| null|
|Africa Eastern an...|        AFE|A woman can sign ...|   SG.CNT.SIGN.EQ| null|              null|             null|             null|            null|            null|            null|            null|            null|            null|            null|            null|            null|            null|           null|            null|            null|            null|            null|          null|            null|            null| null|
|Africa Eastern an...|        AFE|A woman can trave...|   SG.HME.TRVL.EQ| null|              null|             null|             null|            null|            null|            null|            null|            null|            null|            null|            null|            null|            null|           null|            null|            null|            null|            null|          null|            null|            null| null|
|Africa Eastern an...|        AFE|A woman can trave...|   SG.CTR.TRVL.EQ| null|              null|             null|             null|            null|            null|            null|            null|            null|            null|            null|            null|            null|            null|           null|            null|            null|            null|            null|          null|            null|            null| null|
|Africa Eastern an...|        AFE|A woman can work ...|   SG.NGT.WORK.EQ| null|              null|             null|             null|            null|            null|            null|            null|            null|            null|            null|            null|            null|            null|           null|            null|            null|            null|            null|          null|            null|            null| null|
|Africa Eastern an...|        AFE|A woman can work ...|SG.DNG.WORK.DN.EQ| null|              null|             null|             null|            null|            null|            null|            null|            null|            null|            null|            null|            null|            null|           null|            null|            null|            null|            null|          null|            null|            null| null|
|Africa Eastern an...|        AFE|A woman can work ...|   SG.IND.WORK.EQ| null|              null|             null|             null|            null|            null|            null|            null|            null|            null|            null|            null|            null|            null|           null|            null|            null|            null|            null|          null|            null|            null| null|
|Africa Eastern an...|        AFE|A woman has the s...|   SG.REM.RIGT.EQ| null|              null|             null|             null|            null|            null|            null|            null|            null|            null|            null|            null|            null|            null|           null|            null|            null|            null|            null|          null|            null|            null| null|
|Africa Eastern an...|        AFE|Access to anti-re...|SH.HIV.ARTC.FE.ZS|    0|0.0283693077474362|0.413772246821473|0.734602452174327|2.07585431609944|4.21817881570035|7.53406495071762| 12.029114209715|16.3308108193636|21.8071718336723|28.1516046003238|35.1261666763917|42.3554995357227|48.4275313583311| 55.18829572759|60.7113019837222|66.5888711708367|72.7923666793047|76.4553588782229| 80.0060747072|82.6735618830772| 83.668775301076| null|
|Africa Eastern an...|        AFE|Access to anti-re...|SH.HIV.ARTC.MA.ZS|    0| 0.107105731657168|  0.1522213560029|0.730058923533085|1.96076343256409|4.27025206479837|6.89564324791819|11.2018332122764|15.4767450304148|20.0164779706473|25.0561788030566|29.7092194046434|35.3593140460806|40.7313542968922|44.960295259412|50.2223939198484|55.7663728495329|61.6034031213818|66.0125886576803|70.16185092784| 73.660421315499|75.1716951937227| null|
|Africa Eastern an...|        AFE| Account (% age 15+)|      account.t.d| null|              null|             null|             null|            null|            null|            null|            null|            null|            null|            null|            null|            null|            null|           null|            null|            null|            null|            null|          null|            null|            null| null|
|Africa Eastern an...|        AFE|Account, female (...|    account.t.d.1| null|              null|             null|             null|            null|            null|            null|            null|            null|            null|            null|            null|            null|            null|           null|            null|            null|            null|            null|          null|            null|            null| null|
|Africa Eastern an...|        AFE|Account, male (% ...|    account.t.d.2| null|              null|             null|             null|            null|            null|            null|            null|            null|            null|            null|            null|            null|            null|           null|            null|            null|            null|            null|          null|            null|            null| null|
|Africa Eastern an...|        AFE|Adjusted net enro...|      SE.PRM.TENR| null|              null|             null|             null|            null|            null|            null|            null|            null|            null|            null|            null|            null|            null|           null|            null|            null|            null|            null|          null|            null|            null| null|
+--------------------+-----------+--------------------+-----------------+-----+------------------+-----------------+-----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+---------------+----------------+----------------+----------------+----------------+--------------+----------------+----------------+-----+
only showing top 20 rows

In [29]:
spark.sql(
    """
    DESCRIBE FORMATTED silver.genderStatsData_DeltaTable
    """
).toPandas()

,col_name,data_type,comment
0,countryName,string,None
1,countryCode,string,None
2,indicatorName,string,None
3,indicatorCode,string,None
4,y2000,string,None
5,y2001,string,None
6,y2002,string,None
7,y2003,string,None
8,y2004,string,None
9,y2005,string,None
10,y2006,string,None
11,y2007,string,None
12,y2008,string,None
13,y2009,string,None
14,y2010,string,None
15,y2011,string,None
16,y2012,string,None
17,y2013,string,None
18,y2014,string,None
19,y2015,string,None
20,y2016,string,None
21,y2017,string,None
22,y2018,string,None
23,y2019,string,None
24,y2020,string,None
25,y2021,string,None
26,y2022,string,None
27,,,
28,# Detailed Table Information,,
29,Name,spark_catalog.silver.genderstatsdata_deltatable,
30,Type,EXTERNAL,
31,Location,hdfs://hdfs-nn:9000/TrabalhoPratico/silver/gen...,
32,Provider,delta,
33,Owner,jovyan,
34,Table Properties,"[delta.minReaderVersion=1,delta.minWriterVersi...",

In [23]:
spark.stop()